body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1767px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1053 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1054 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1055_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:683px;
}
#u1055 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:97px;
  width:345px;
  height:683px;
}
#u1055_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1056_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:649px;
}
#u1056 {
  border-width:0px;
  position:absolute;
  left:181px;
  top:113px;
  width:302px;
  height:648px;
}
#u1056_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1057_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:24px;
}
#u1057 {
  border-width:0px;
  position:absolute;
  left:242px;
  top:113px;
  width:180px;
  height:24px;
}
#u1057_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1058_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:32px;
}
#u1058 {
  border-width:0px;
  position:absolute;
  left:182px;
  top:113px;
  width:300px;
  height:32px;
}
#u1058_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1059 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1060_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:87px;
}
#u1060 {
  border-width:0px;
  position:absolute;
  left:182px;
  top:113px;
  width:300px;
  height:87px;
}
#u1060_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1061_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:33px;
}
#u1061 {
  border-width:0px;
  position:absolute;
  left:235px;
  top:159px;
  width:192px;
  height:32px;
  opacity:0.33;
}
#u1061_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1062_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:20px;
}
#u1062 {
  border-width:0px;
  position:absolute;
  left:396px;
  top:166px;
  width:13px;
  height:19px;
}
#u1062_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1063_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u1063 {
  border-width:0px;
  position:absolute;
  left:241px;
  top:166px;
  width:19px;
  height:19px;
}
#u1063_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1064_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:12px;
}
#u1064 {
  border-width:0px;
  position:absolute;
  left:188px;
  top:169px;
  width:41px;
  height:12px;
}
#u1064_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1065 {
  border-width:0px;
  position:absolute;
  left:271px;
  top:163px;
  width:142px;
  height:24px;
}
#u1065_input {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:24px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1066_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:38px;
}
#u1066 {
  border-width:0px;
  position:absolute;
  left:437px;
  top:156px;
  width:38px;
  height:38px;
}
#u1066_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1067_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:13px;
}
#u1067 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:212px;
  width:13px;
  height:12px;
}
#u1067_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1068_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u1068 {
  border-width:0px;
  position:absolute;
  left:228px;
  top:210px;
  width:29px;
  height:16px;
  font-size:14px;
}
#u1068_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1069_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u1069 {
  border-width:0px;
  position:absolute;
  left:309px;
  top:210px;
  width:29px;
  height:16px;
  font-size:14px;
}
#u1069_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1070_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u1070 {
  border-width:0px;
  position:absolute;
  left:392px;
  top:210px;
  width:29px;
  height:16px;
  font-size:14px;
}
#u1070_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1071_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:5px;
}
#u1071 {
  border-width:0px;
  position:absolute;
  left:228px;
  top:232px;
  width:29px;
  height:4px;
}
#u1071_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1072 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1073 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1074_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:98px;
}
#u1074 {
  border-width:0px;
  position:absolute;
  left:193px;
  top:251px;
  width:280px;
  height:97px;
}
#u1074_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1075 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1076_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u1076 {
  border-width:0px;
  position:absolute;
  left:423px;
  top:326px;
  width:7px;
  height:7px;
}
#u1076_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1077_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u1077 {
  border-width:0px;
  position:absolute;
  left:434px;
  top:326px;
  width:7px;
  height:7px;
}
#u1077_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1078_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u1078 {
  border-width:0px;
  position:absolute;
  left:445px;
  top:326px;
  width:7px;
  height:7px;
}
#u1078_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1079_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u1079 {
  border-width:0px;
  position:absolute;
  left:455px;
  top:326px;
  width:7px;
  height:7px;
}
#u1079_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1080_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u1080 {
  border-width:0px;
  position:absolute;
  left:413px;
  top:326px;
  width:7px;
  height:7px;
}
#u1080_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1081_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:11px;
}
#u1081 {
  border-width:0px;
  position:absolute;
  left:182px;
  top:586px;
  width:300px;
  height:10px;
}
#u1081_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1082 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1083_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:66px;
}
#u1083 {
  border-width:0px;
  position:absolute;
  left:182px;
  top:695px;
  width:300px;
  height:66px;
}
#u1083_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1084 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1085_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:16px;
}
#u1085 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:726px;
  width:47px;
  height:15px;
  font-size:12px;
  text-align:center;
}
#u1085_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  word-wrap:break-word;
}
#u1086_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u1086 {
  border-width:0px;
  position:absolute;
  left:202px;
  top:702px;
  width:21px;
  height:21px;
}
#u1086_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1087 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1088_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:16px;
}
#u1088 {
  border-width:0px;
  position:absolute;
  left:249px;
  top:726px;
  width:47px;
  height:15px;
  font-size:12px;
  text-align:center;
}
#u1088_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  word-wrap:break-word;
}
#u1089_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u1089 {
  border-width:0px;
  position:absolute;
  left:262px;
  top:702px;
  width:21px;
  height:21px;
}
#u1089_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1090 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1091_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:16px;
}
#u1091 {
  border-width:0px;
  position:absolute;
  left:369px;
  top:726px;
  width:47px;
  height:15px;
  font-size:12px;
  text-align:center;
}
#u1091_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  word-wrap:break-word;
}
#u1092_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u1092 {
  border-width:0px;
  position:absolute;
  left:382px;
  top:702px;
  width:21px;
  height:21px;
}
#u1092_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1093 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1094_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:16px;
}
#u1094 {
  border-width:0px;
  position:absolute;
  left:429px;
  top:726px;
  width:47px;
  height:15px;
  font-size:12px;
  text-align:center;
}
#u1094_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  word-wrap:break-word;
}
#u1095_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u1095 {
  border-width:0px;
  position:absolute;
  left:442px;
  top:702px;
  width:21px;
  height:21px;
}
#u1095_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1096 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1097_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:16px;
}
#u1097 {
  border-width:0px;
  position:absolute;
  left:309px;
  top:726px;
  width:47px;
  height:15px;
  font-size:12px;
  text-align:center;
}
#u1097_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  word-wrap:break-word;
}
#u1098_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u1098 {
  border-width:0px;
  position:absolute;
  left:322px;
  top:702px;
  width:21px;
  height:21px;
}
#u1098_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1099_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:11px;
}
#u1099 {
  border-width:0px;
  position:absolute;
  left:182px;
  top:364px;
  width:300px;
  height:10px;
}
#u1099_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1100_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:11px;
}
#u1100 {
  border-width:0px;
  position:absolute;
  left:182px;
  top:475px;
  width:300px;
  height:10px;
}
#u1100_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1101_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:86px;
}
#u1101 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:380px;
  width:90px;
  height:86px;
}
#u1101_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1102_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:86px;
}
#u1102 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:492px;
  width:90px;
  height:86px;
}
#u1102_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1103_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:86px;
}
#u1103 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:602px;
  width:90px;
  height:86px;
}
#u1103_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1104_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:74px;
}
#u1104 {
  border-width:0px;
  position:absolute;
  left:303px;
  top:392px;
  width:159px;
  height:73px;
}
#u1104_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  word-wrap:break-word;
}
#u1105_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:74px;
}
#u1105 {
  border-width:0px;
  position:absolute;
  left:303px;
  top:499px;
  width:159px;
  height:73px;
}
#u1105_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  word-wrap:break-word;
}
#u1106_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:74px;
}
#u1106 {
  border-width:0px;
  position:absolute;
  left:303px;
  top:609px;
  width:159px;
  height:73px;
}
#u1106_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  word-wrap:break-word;
}
#u1107_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:32px;
}
#u1107 {
  border-width:0px;
  position:absolute;
  left:455px;
  top:520px;
  width:18px;
  height:31px;
}
#u1107_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1108_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:32px;
}
#u1108 {
  border-width:0px;
  position:absolute;
  left:455px;
  top:630px;
  width:18px;
  height:31px;
}
#u1108_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1109_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:32px;
}
#u1109 {
  border-width:0px;
  position:absolute;
  left:453px;
  top:408px;
  width:18px;
  height:31px;
}
#u1109_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1110 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1111_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:683px;
}
#u1111 {
  border-width:0px;
  position:absolute;
  left:602px;
  top:97px;
  width:345px;
  height:683px;
}
#u1111_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1112_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:649px;
}
#u1112 {
  border-width:0px;
  position:absolute;
  left:623px;
  top:113px;
  width:302px;
  height:648px;
}
#u1112_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1113_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:24px;
}
#u1113 {
  border-width:0px;
  position:absolute;
  left:684px;
  top:113px;
  width:180px;
  height:24px;
}
#u1113_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1114_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:32px;
}
#u1114 {
  border-width:0px;
  position:absolute;
  left:624px;
  top:113px;
  width:300px;
  height:32px;
}
#u1114_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1115_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:45px;
}
#u1115 {
  border-width:0px;
  position:absolute;
  left:373px;
  top:156px;
  width:229px;
  height:44px;
}
#u1115_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1116 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1117_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u1117 {
  border-width:0px;
  position:absolute;
  left:338px;
  top:164px;
  width:100px;
  height:100px;
  font-size:16px;
}
#u1117_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1118_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:25px;
}
#u1118 {
  border-width:0px;
  position:absolute;
  left:373px;
  top:263px;
  width:41px;
  height:24px;
  font-size:20px;
  color:#FF0000;
  text-align:center;
}
#u1118_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u1119 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1120_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:87px;
}
#u1120 {
  border-width:0px;
  position:absolute;
  left:624px;
  top:113px;
  width:300px;
  height:87px;
}
#u1120_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1121_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:33px;
}
#u1121 {
  border-width:0px;
  position:absolute;
  left:677px;
  top:159px;
  width:237px;
  height:32px;
  opacity:0.33;
}
#u1121_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1122_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:17px;
}
#u1122 {
  border-width:0px;
  position:absolute;
  left:690px;
  top:167px;
  width:142px;
  height:16px;
  font-size:14px;
}
#u1122_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  word-wrap:break-word;
}
#u1123_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:22px;
}
#u1123 {
  border-width:0px;
  position:absolute;
  left:647px;
  top:165px;
  width:12px;
  height:22px;
}
#u1123_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1124_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u1124 {
  border-width:0px;
  position:absolute;
  left:884px;
  top:166px;
  width:19px;
  height:19px;
}
#u1124_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1125_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:175px;
}
#u1125 {
  border-width:0px;
  position:absolute;
  left:625px;
  top:556px;
  width:300px;
  height:175px;
}
#u1125_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1126_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:30px;
}
#u1126 {
  border-width:0px;
  position:absolute;
  left:647px;
  top:252px;
  width:68px;
  height:29px;
}
#u1126_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:64px;
  word-wrap:break-word;
}
#u1127_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:30px;
}
#u1127 {
  border-width:0px;
  position:absolute;
  left:727px;
  top:252px;
  width:68px;
  height:29px;
}
#u1127_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:64px;
  word-wrap:break-word;
}
#u1128_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:30px;
}
#u1128 {
  border-width:0px;
  position:absolute;
  left:808px;
  top:252px;
  width:68px;
  height:29px;
}
#u1128_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:64px;
  word-wrap:break-word;
}
#u1129_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:30px;
}
#u1129 {
  border-width:0px;
  position:absolute;
  left:647px;
  top:299px;
  width:68px;
  height:29px;
}
#u1129_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:64px;
  word-wrap:break-word;
}
#u1130_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:30px;
}
#u1130 {
  border-width:0px;
  position:absolute;
  left:727px;
  top:299px;
  width:68px;
  height:29px;
}
#u1130_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:64px;
  word-wrap:break-word;
}
#u1131_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:30px;
}
#u1131 {
  border-width:0px;
  position:absolute;
  left:647px;
  top:418px;
  width:68px;
  height:29px;
}
#u1131_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:64px;
  word-wrap:break-word;
}
#u1132_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:30px;
}
#u1132 {
  border-width:0px;
  position:absolute;
  left:727px;
  top:418px;
  width:68px;
  height:29px;
}
#u1132_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:64px;
  word-wrap:break-word;
}
#u1133_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:30px;
}
#u1133 {
  border-width:0px;
  position:absolute;
  left:808px;
  top:418px;
  width:68px;
  height:29px;
}
#u1133_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:64px;
  word-wrap:break-word;
}
#u1134_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:30px;
}
#u1134 {
  border-width:0px;
  position:absolute;
  left:647px;
  top:465px;
  width:68px;
  height:29px;
}
#u1134_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:64px;
  word-wrap:break-word;
}
#u1135_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:30px;
}
#u1135 {
  border-width:0px;
  position:absolute;
  left:727px;
  top:465px;
  width:68px;
  height:29px;
}
#u1135_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:64px;
  word-wrap:break-word;
}
#u1136_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:30px;
}
#u1136 {
  border-width:0px;
  position:absolute;
  left:808px;
  top:465px;
  width:68px;
  height:29px;
}
#u1136_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:64px;
  word-wrap:break-word;
}
#u1137_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:30px;
}
#u1137 {
  border-width:0px;
  position:absolute;
  left:647px;
  top:507px;
  width:68px;
  height:29px;
}
#u1137_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:64px;
  word-wrap:break-word;
}
#u1138_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:30px;
}
#u1138 {
  border-width:0px;
  position:absolute;
  left:727px;
  top:507px;
  width:68px;
  height:29px;
}
#u1138_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:64px;
  word-wrap:break-word;
}
#u1139_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:30px;
}
#u1139 {
  border-width:0px;
  position:absolute;
  left:808px;
  top:507px;
  width:68px;
  height:29px;
}
#u1139_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:64px;
  word-wrap:break-word;
}
#u1140_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:17px;
}
#u1140 {
  border-width:0px;
  position:absolute;
  left:647px;
  top:226px;
  width:53px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u1140_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u1141_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:17px;
}
#u1141 {
  border-width:0px;
  position:absolute;
  left:647px;
  top:393px;
  width:53px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u1141_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u1142 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1143_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:683px;
}
#u1143 {
  border-width:0px;
  position:absolute;
  left:1012px;
  top:97px;
  width:345px;
  height:683px;
}
#u1143_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1144_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:649px;
}
#u1144 {
  border-width:0px;
  position:absolute;
  left:1033px;
  top:113px;
  width:302px;
  height:648px;
}
#u1144_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1145_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:24px;
}
#u1145 {
  border-width:0px;
  position:absolute;
  left:1094px;
  top:113px;
  width:180px;
  height:24px;
}
#u1145_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1146_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:32px;
}
#u1146 {
  border-width:0px;
  position:absolute;
  left:1034px;
  top:113px;
  width:300px;
  height:32px;
}
#u1146_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1147 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1148_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:87px;
}
#u1148 {
  border-width:0px;
  position:absolute;
  left:1034px;
  top:113px;
  width:300px;
  height:87px;
}
#u1148_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1149_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:33px;
}
#u1149 {
  border-width:0px;
  position:absolute;
  left:1087px;
  top:159px;
  width:187px;
  height:32px;
  opacity:0.33;
}
#u1149_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1150_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:17px;
}
#u1150 {
  border-width:0px;
  position:absolute;
  left:1120px;
  top:167px;
  width:142px;
  height:16px;
  font-size:14px;
}
#u1150_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  word-wrap:break-word;
}
#u1151_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:22px;
}
#u1151 {
  border-width:0px;
  position:absolute;
  left:1057px;
  top:165px;
  width:12px;
  height:22px;
}
#u1151_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1152_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u1152 {
  border-width:0px;
  position:absolute;
  left:1094px;
  top:166px;
  width:19px;
  height:19px;
}
#u1152_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1153_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:175px;
}
#u1153 {
  border-width:0px;
  position:absolute;
  left:1035px;
  top:556px;
  width:300px;
  height:175px;
}
#u1153_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1154_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:45px;
}
#u1154 {
  border-width:0px;
  position:absolute;
  left:1034px;
  top:200px;
  width:300px;
  height:44px;
  text-align:left;
}
#u1154_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:296px;
  word-wrap:break-word;
}
#u1155_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:45px;
}
#u1155 {
  border-width:0px;
  position:absolute;
  left:1034px;
  top:244px;
  width:300px;
  height:44px;
  text-align:left;
}
#u1155_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:296px;
  word-wrap:break-word;
}
#u1156_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:45px;
}
#u1156 {
  border-width:0px;
  position:absolute;
  left:1034px;
  top:289px;
  width:300px;
  height:44px;
  text-align:left;
}
#u1156_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:296px;
  word-wrap:break-word;
}
#u1157_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:45px;
}
#u1157 {
  border-width:0px;
  position:absolute;
  left:1034px;
  top:334px;
  width:300px;
  height:44px;
  text-align:left;
}
#u1157_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:296px;
  word-wrap:break-word;
}
#u1158_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:45px;
}
#u1158 {
  border-width:0px;
  position:absolute;
  left:1034px;
  top:379px;
  width:300px;
  height:44px;
  text-align:left;
}
#u1158_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:296px;
  word-wrap:break-word;
}
#u1159_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:45px;
}
#u1159 {
  border-width:0px;
  position:absolute;
  left:1034px;
  top:424px;
  width:300px;
  height:44px;
  text-align:left;
}
#u1159_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:296px;
  word-wrap:break-word;
}
#u1160_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:45px;
}
#u1160 {
  border-width:0px;
  position:absolute;
  left:1034px;
  top:468px;
  width:300px;
  height:44px;
  font-size:16px;
  color:#FF0000;
  text-align:left;
}
#u1160_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:296px;
  word-wrap:break-word;
}
#u1161_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:17px;
}
#u1161 {
  border-width:0px;
  position:absolute;
  left:1293px;
  top:169px;
  width:34px;
  height:16px;
  font-size:14px;
  color:#FF0000;
}
#u1161_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  word-wrap:break-word;
}
#u1162_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u1162 {
  border-width:0px;
  position:absolute;
  left:1253px;
  top:169px;
  width:13px;
  height:13px;
}
#u1162_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1163 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1164_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:683px;
}
#u1164 {
  border-width:0px;
  position:absolute;
  left:1422px;
  top:97px;
  width:345px;
  height:683px;
}
#u1164_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1165_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:649px;
}
#u1165 {
  border-width:0px;
  position:absolute;
  left:1443px;
  top:113px;
  width:302px;
  height:648px;
}
#u1165_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1166_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:24px;
}
#u1166 {
  border-width:0px;
  position:absolute;
  left:1504px;
  top:113px;
  width:180px;
  height:24px;
}
#u1166_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1167_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:32px;
}
#u1167 {
  border-width:0px;
  position:absolute;
  left:1444px;
  top:113px;
  width:300px;
  height:32px;
}
#u1167_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1168 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1169_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:87px;
}
#u1169 {
  border-width:0px;
  position:absolute;
  left:1444px;
  top:113px;
  width:300px;
  height:87px;
}
#u1169_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1170_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:33px;
}
#u1170 {
  border-width:0px;
  position:absolute;
  left:1497px;
  top:159px;
  width:187px;
  height:32px;
  opacity:0.33;
}
#u1170_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1171_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:17px;
}
#u1171 {
  border-width:0px;
  position:absolute;
  left:1530px;
  top:167px;
  width:142px;
  height:16px;
  font-size:14px;
}
#u1171_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  word-wrap:break-word;
}
#u1172_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:22px;
}
#u1172 {
  border-width:0px;
  position:absolute;
  left:1467px;
  top:165px;
  width:12px;
  height:22px;
}
#u1172_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1173_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u1173 {
  border-width:0px;
  position:absolute;
  left:1504px;
  top:166px;
  width:19px;
  height:19px;
}
#u1173_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1174_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:17px;
}
#u1174 {
  border-width:0px;
  position:absolute;
  left:1703px;
  top:169px;
  width:34px;
  height:16px;
  font-size:14px;
  color:#FF0000;
}
#u1174_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  word-wrap:break-word;
}
#u1175_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u1175 {
  border-width:0px;
  position:absolute;
  left:1663px;
  top:169px;
  width:13px;
  height:13px;
}
#u1175_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1176_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u1176 {
  border-width:0px;
  position:absolute;
  left:1466px;
  top:218px;
  width:57px;
  height:16px;
  font-size:14px;
}
#u1176_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1177_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u1177 {
  border-width:0px;
  position:absolute;
  left:1573px;
  top:218px;
  width:57px;
  height:16px;
  font-size:14px;
}
#u1177_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1178_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:5px;
}
#u1178 {
  border-width:0px;
  position:absolute;
  left:1444px;
  top:240px;
  width:96px;
  height:4px;
}
#u1178_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1179_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u1179 {
  border-width:0px;
  position:absolute;
  left:1663px;
  top:220px;
  width:57px;
  height:16px;
  font-size:14px;
}
#u1179_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1180_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:86px;
}
#u1180 {
  border-width:0px;
  position:absolute;
  left:1458px;
  top:271px;
  width:90px;
  height:86px;
}
#u1180_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1181_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:74px;
}
#u1181 {
  border-width:0px;
  position:absolute;
  left:1572px;
  top:283px;
  width:159px;
  height:73px;
}
#u1181_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  word-wrap:break-word;
}
#u1182_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:86px;
}
#u1182 {
  border-width:0px;
  position:absolute;
  left:1458px;
  top:379px;
  width:90px;
  height:86px;
}
#u1182_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1183_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:74px;
}
#u1183 {
  border-width:0px;
  position:absolute;
  left:1572px;
  top:391px;
  width:159px;
  height:73px;
}
#u1183_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  word-wrap:break-word;
}
#u1184_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:86px;
}
#u1184 {
  border-width:0px;
  position:absolute;
  left:1458px;
  top:497px;
  width:90px;
  height:86px;
}
#u1184_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1185_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:74px;
}
#u1185 {
  border-width:0px;
  position:absolute;
  left:1572px;
  top:509px;
  width:159px;
  height:73px;
}
#u1185_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  word-wrap:break-word;
}
#u1186_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:86px;
}
#u1186 {
  border-width:0px;
  position:absolute;
  left:1458px;
  top:617px;
  width:90px;
  height:86px;
}
#u1186_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1187_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:74px;
}
#u1187 {
  border-width:0px;
  position:absolute;
  left:1572px;
  top:629px;
  width:159px;
  height:73px;
}
#u1187_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  word-wrap:break-word;
}
#u1188_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:22px;
}
#u1188 {
  border-width:0px;
  position:absolute;
  left:1460px;
  top:734px;
  width:90px;
  height:22px;
}
#u1188_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1189_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:74px;
}
#u1189 {
  border-width:0px;
  position:absolute;
  left:1572px;
  top:726px;
  width:159px;
  height:73px;
}
#u1189_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  word-wrap:break-word;
}
#u1190_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:39px;
}
#u1190 {
  border-width:0px;
  position:absolute;
  left:828px;
  top:153px;
  width:184px;
  height:38px;
}
#u1190_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1191 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1192_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u1192 {
  border-width:0px;
  position:absolute;
  left:793px;
  top:161px;
  width:100px;
  height:100px;
  font-size:16px;
}
#u1192_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1193_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:25px;
}
#u1193 {
  border-width:0px;
  position:absolute;
  left:828px;
  top:260px;
  width:41px;
  height:24px;
  font-size:20px;
  color:#FF0000;
  text-align:center;
}
#u1193_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u1194_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:27px;
}
#u1194 {
  border-width:0px;
  position:absolute;
  left:1328px;
  top:161px;
  width:94px;
  height:26px;
}
#u1194_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1195 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1196_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u1196 {
  border-width:0px;
  position:absolute;
  left:1293px;
  top:169px;
  width:100px;
  height:100px;
  font-size:16px;
}
#u1196_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1197_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:25px;
}
#u1197 {
  border-width:0px;
  position:absolute;
  left:1328px;
  top:268px;
  width:41px;
  height:24px;
  font-size:20px;
  color:#FF0000;
  text-align:center;
}
#u1197_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u1198_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:863px;
  height:249px;
}
#u1198 {
  border-width:0px;
  position:absolute;
  left:209px;
  top:869px;
  width:860px;
  height:246px;
  font-size:28px;
  text-align:left;
}
#u1198_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:856px;
  word-wrap:break-word;
}
